* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

input, td, textarea, h1, h2 {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

html, body {
    min-height: 100%;
}

body {
    background: #ccc linear-gradient(#eee, #ccc);
    padding: 5px;
    text-align: center;
}

h1, h2, ul, p {
    padding: 5px;
    text-align: left;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

ul {
    list-style: inside;
}

li {
    margin-bottom: 5px;
}

li, a, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: royalblue;
}

.note {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    box-sizing: border-box;
    font-size: 13px;
    height: 30px;
}

#shiftUpButton,
#shiftRightButton,
#shiftDownButton,
#shiftLeftButton {
    position: absolute;
    width: 30px;
}

#invertButton,
#clearButton,
#appendButton,
#updateButton,
#deleteButton {
    position: absolute;
    width: 70px;
}

#input {
    text-align: center;
    width: 160px;
    padding: 5px;
}

table.leds,
table.cols,
table.rows {
    border-spacing: 5px;
}

table.leds {
    background-color: #333;
    box-shadow: 1px 1px 10px #333;
}

table.leds td,
table.cols td,
table.rows td {
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 17px;
}

table.leds td {
    border-radius: 50%;
    box-shadow: inset 0 0 1px #666666;
    background: lightgrey radial-gradient(ellipse at center, lightgrey 0%, white 50%, lightgrey 100%);
}

table.leds td.active {
    background: orangered radial-gradient(ellipse at center, lightcoral 0%, orangered 50%, red 100%);
}

table.cols td:hover,
table.rows td:hover {
    color: orangered;
}

#previews {
    box-sizing: border-box;
    padding: 5px;
    height: 180px;
    overflow-y: scroll;
    border: solid #999 1px;
    background: #ccc linear-gradient(#ccc, #aaa);
}

#previews table.preview {
    margin: 3px;
    float: left;
    background-color: #333;
    border-spacing: 2px;
    border: solid #ccc 2px;
}

#previews table.preview td {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px lightslategray;
    background: lightgrey;
}

#previews table.preview td.active {
    background: orangered;
}

#previews table.preview.selected {
    border-color: dodgerblue;
}

#output {
    resize: none;
    padding: 5px;
    white-space: normal;
    height: 350px;
    overflow-y: scroll;
}

.debug {
    /*border: dashed red 1px;*/
}